name: Supabase Keep Warm

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  ping_db:
    runs-on: ubuntu-latest
    steps:
      - name: Install PostgreSQL Client
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client

      - name: Execute SQL Query
        env:
          DB_URL: ${{ secrets.SUPABASE_DB_URL }}
        run: |
          psql "$DB_URL" -c "SELECT NOW();"
